.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --content-title-color: #000028;
  --section-title-color: #ff0070;
  --border-color: #f1b2ce;
  --decor-color: #ff0070;
  --title-decor: #ff0070;
  --link-shadow: #ff0070;
  --rec-color: #ff0070;
}
