.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --title-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --content-title-color: #353430;
  --section-title-color: #353430;
  --border-color: #ff0070;
  --decor-color: #353430;
  --link-shadow: #ff8dcb;
  --rec-color: #fff1f7;
}
